body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #03031c;
    height: auto;
}

h1{
	font-family: Trattatello;
	font-size: 130px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 140px;
	margin-bottom: 50px;
	color: beige;
  }


  h1:hover{
  	font-style: bold;
  	font-style: italic;
  }


  h2{
	font-family: Trattatello;
	font-size: 80px;
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 50px;
    margin-top: 50px;
	color: beige;
  }

  p{
  	font-family: sans-serif;
  	font-size: 24px;
  	color: beige;
	text-align: center;
  }

p:hover{
	font-style: italic;
}

.container{
	background-color:#03031c;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}


.recipeprocess{
	width: 400px; height: 3000px;
	padding: 35px;
	align-items: center;

}



.images{
	width: 600px; 
	height: 3000px;
	display: flex;
	flex-direction: column;
}


#joe{
	width: 300px;
	margin-top: 30px;
    transform: rotate(-7deg);
    opacity: 75%;
    position: sticky;
    top: 100px;
    left: 20px;
    overflow: hidden;
}

#joe:hover{
    opacity: 100%;
    width: 350px;
}

#dad{
	width: 300px;
	margin-top: 30px;
    position: absolute;
    top: 550px;
    left: 60px;
    opacity: 40%;
}

#dad:hover{
    opacity: 100%;
}

#dadbox{
    position: absolute;
    font-size: 12px;
    top: 550px;
    left: 50px;
}

#thanksgiving{
    width: 260px;
	margin-top: 30px;
    transform: rotate(6deg);
    position: absolute;
    top: 1900px;
    left: 70px;
    opacity: 40%;


}

#thanksgiving:hover{
    transform: rotate(-6deg);
    opacity: 100%;
}


#cousins{
    width: 300px;
    position: absolute;
    top: 810px;
    left: 460px;
    opacity: 65%;
}

#cousins:hover{
    width: 340px;
    opacity: 100%;
}


#cousinsbox{
    font-size: 12px;
    position: absolute;
    top: 770px;
    left: 480px;
}


#nannie{
    width: 300px;
    opacity: 60%;
    position: absolute;
    top: 280px;
    left: 20px;
}

#nannie:hover{
    opacity: 100%;
}

#nanniebox{
    position: absolute;
    font-size: 12px;
    top: 250px;
    left: 30px;
}

#salad{
    width: 200px;
    position: absolute;
    top: 230px;
    left: 1150px;
    transform: rotate(4deg);
    opacity: 70%;
}

#salad:hover{
    opacity: 100%;
}


#mely{
    width: 300px;
	margin-top: 30px;
    transform: rotate(7deg);
    opacity: 50%;
    position: absolute;
    top: 600px;
    left: 1150px;
}

#mely:hover{
    opacity: 100%;
    transform: rotate(-2deg);
}


#melybox{
    font-size: 12px;
    position: absolute;
    top: 560px;
    left: 1110px;
}

#tomato1{
    width: 300px;
    position: absolute;
    transform: rotate(4deg);
    top: 1000px;
    opacity: 40%;
    left: 90px;
}

#tomato1:hover{
    opacity: 100%;

}


#pasta{
    width: 200px;
    opacity: 40%;
    position: absolute;
    left: 500px;
    top: 1100px;
    
}


#pastabox{
    font-size: 12px;
    position: absolute;
    left: 540px;
    top: 1350px;
}

#pasta:hover{
    opacity: 100%;
    width: 300px;
    transform: rotate(-6deg);
}

#buns{
    width: 300px;
    position: absolute;
    top: 1000px;
    left: 800px;
    transform: rotate(90deg);
    opacity: 55%;
}

#buns:hover{
    transform: rotate(95deg);
    opacity: 100%;
}

#julia{
    width: 300px;
    position: sticky;
    top: 100px;
    left: 100px;
}


#juliabox{
    position: absolute;
    top: 3200px;
    left: 650px;
    font-size: 12px;
}


#jacob{
    width: 300px;
    opacity: 70%;
    position: absolute;
    top: 1500px;
    left: 120px;
    transform: rotate(-7deg);
}

#jacob:hover{
    opacity: 100%;
    transform: rotate(7deg);
}


#jacobbox{
    font-size: 12px;
    position: absolute;
    top: 1480px;
    left: 130px;
}

#lou{
    width: 340px;
    position: sticky;
    top: 600px;
    left: 300px;
    opacity: 50%;
}

#lou:hover{
    opacity: 100%;
}


#rico{
    width: 240px;
    transform: rotate(5deg);
    position: absolute;
    top: 1200px;
    left: 1200px;
    opacity: 70%;
}

#rico:hover{
    width: 260px;
    transform: rotate(-10deg);
    opacity: 100%;
}


#ricobox{
    font-size: 12px;
    position: absolute;
    top: 1500px;
    left: 1200px;
}

#mom{
    width: 250px;
    opacity: 50%;
    position: absolute;
    top: 1500px;
    left: 930px;
}

#mom:hover{
    opacity: 100%;
    width: 300px;
    transform: rotate(3deg);
}


#mombox{
    font-size: 12px;
    position: absolute;
    top: 1700px;
    left: 1200px;
}

#me{
    width: 265px;
    position: absolute;
    top: 1790px;
    left: 500px;
    opacity: 75%;
}

#me:hover{
    transform: rotate(-90deg);
    opacity: 100%;
}

#mia{
    width: 250px;
    position: absolute;
    top: 1900px;
    left: 1200px;
    opacity: 40%;
}

#mia:hover{
    opacity: 100%;
    width: 300px;
    
}


#miabox{
    font-size: 12px;
    position: absolute;
    top: 2240px;
    left: 1200px;
}

#tomato2{
    width: 310px;
    position: absolute;
    top: 2320px;
    left: 340px;
    opacity: 75%;
}

#tomato2:hover{
    transform: rotate(-5deg);
    opacity: 100%;
}

h2{
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 300px;
    position: absolute;
    top: 2600px;
    left: 400px;
}

#nonnojoebox{
    position: absolute;
    top: 3000px;
    left: 200px;
    font-size: 12px;
}

#nonnoloubox{
    position: absolute;
    top: 3300px;
    font-size: 12px;
    left: 1300px;
}







/*this is for phones*/
@media (max-width: 600px)  {
  body {
    font-size: 12px;
  }

  p{
    font-size: 14px;
    margin-top: -20px;
  }
  .container {
    width: 95%;
    padding: 10px;
  }

  h1 { 
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    line-height: -20px;

    
  }

  .images {
    width: 200px; 
	height: 1000px;
	display: flex;
	flex-direction: column;
  }

  .recipeprocess {
    width: 200px; 
	height: 1000px;
	display: flex;
	flex-direction: column;
  }

  #joe{
	width: 170px;
	margin-top: 30px;
    transform: rotate(-7deg);
    opacity: 100%;
    position: absolute;
    top: 450px;
    left: 30px;
}

#nonnojoebox{
    font-size: 8px;   
    top: 700px;
    left: 30px;
}

#dad {
    width: 170px;
    opacity: 100%;
    top: 550px;
    left: 250px;
}


#dadbox{
    opacity: 100%;
    position: absolute;
    top: 770px;
    left: 240px;
    font-size: 8px;
}

#thanksgiving{
    width: 170px;
    top: 800px;
    left: 250px;
    opacity: 100%;


}

#cousins{
    width: 180px;
    top: 1120px;
    left: 250px;
    opacity: 100%;
}


#cousinsbox{
    opacity: 0%;
}

#nannie{
    width: 190px;
    top: 1300px;
    left: 250px;
    opacity: 100%;
}

#nanniebox{
    opacity: 0%;
}

#salad{
    width: 170px;
    top: 1450px;
    left: 250px;
    opacity: 100%;
}

#mely{
    width: 190px;
    left: 250px;
    top: 1670px;
    opacity: 100%;
}

#melybox{
    opacity: 0%;
}

#tomato1{
    width: 180px;
    top: 1780px;
    left: 40px;
    opacity: 100%;
    transform: rotate(-2deg);
}

#pasta{
    width: 190px;
    top: 2000px;
    left: 200px;
    opacity: 100%;
}

#buns{
    width: 170px;
    top: 1200px;
    left: 30px;
    opacity: 100%;
}


#julia{
    width: 190px;
    position: absolute;
    top: 2300px;
    left: 300px;
    opacity: 100%s;
}

#juliabox{
    font-size: 8px;
    top: 480px;
    left: 300px;
    opacity: 0%;
}

#jacob{
    width: 200px;
    top: 2570px;
    left: 260px;
    opacity: 100%;
}

#jacobbox{
    opacity: 0%;
}

#lou{
    width: 200px;
    left: 30px;
    top: 2600px;
    opacity: 100%;
    position: absolute;

}

#nonnoloubox{
    opacity: 0%;
}

#rico{
    width: 150px;
    left: 250px;
    top: 2870px;
    opacity: 100%;
}

#ricobox{
    opacity: 0%;
}

#mom{
    width: 200px;
    top: 3100px;
    left: 50px;
    opacity: 100%;
}

#mombox{
    opacity: 0%;
}

#me{
    width: 180px;
    top: 3100px;
    left: 300px;
}

#mia{
    opacity: 100%;
    width: 200px;
    left: 300px;
    top: 3500px;
}

#miabox{
    opacity: 0%;
}

h2{
    font-size: 30px;
}

#tomato2{
    width: 180px;
    top: 3500px;
    left: 30px;
    opacity: 100%;
}

h2{
    opacity: 0%;
}


#pastabox{
    font-size: 12px;
    position: absolute;
    left: 540px;
    top: 1350px;
    opacity: 0%;
}


}
