body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #03031c;
}


h1{
	font-family: Trattatello;
	font-size: 130px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 140px;
	margin-bottom: 50px;
	color: beige;
  }

  h1:hover{
  	font-style: bold;
  	font-style: italic;
  }


  p{
  	font-family: sans-serif;
  	font-size: 24px;
  	color: beige;
	text-align: center;
  }

p:hover{
	font-style: italic;
}

.container{
	background-color:#03031c;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}


 #recipebox{
  width: 120px;
  height: 200px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
	position: absolute;
	top: 300px;
	left: 60px;
	overflow: hidden;
	opacity: 100%;
	background-color: #d1a099;
	font-family: sans-serif;
	color: white;
	padding: 12px;
	border: 2px solid white;
	margin-top: 10px;
	opacity: 60%;
	transform: rotate(-3deg);
  }

  #recipebox:hover {
	opacity: 100%;
  }



.recipeprocess{
	width: 400px; height: 1900px;
	padding: 35px;
	align-items: center;

}


.images{
	width: 600px; 
	height: 1900px;
	display: flex;
	flex-direction: column;
}


#image1{
	width: 260px;
	margin-top: 30px;
	transform: rotate(-13deg)

}

#image2{
	width: 260px;
	margin-top: 20px;
	transform: rotate(4deg)
}


#image3{
	width: 250px;
	opacity: 40%;
	position: absolute;
	position: absolute;
	top: 600px;
	left: 1100px;
}


#image3:hover{
	opacity: 100%;
	width: 350px;
}



#image4{
	width: 370px;
	opacity: 70%;
	position: absolute;
	top: 1500px;
	left: 1000px;


}

#image4:hover{
	opacity: 100%;
}

#dad{
	opacity: 50%;
	width: 300px;
	position: sticky;
	top: 40px;
	left: 580px;
}

#dad:hover{
	opacity: 100%;
}

#image6{
	width: 250px;
	margin-top: 20px;
	position: absolute;
	top: 200px;
	left: 1100px;


}

#bourdain{
	position: absolute;
		top: 530px;
	left: 1100px;
}

.caption{
	font-family: sans-serif;
	font-size: 14px;
	color: beige;
	top: 400px;
	left: 950px;
}


#image7{
	opacity: 60%;
	width: 320px;
	transform: rotate(-5deg);
}

#image7:hover{
	opacity: 100%;
	width: 370px;
}


#image8{
	opacity: 75%;
	width: 300px;
	transform: rotate(5deg);
	position: absolute;
	top: 1150px;
	left: 1120px;
}

#image8:hover{
	opacity: 100%;
}


#image9{
	opacity: 50%;
	width: 200px;
	margin-top: 50px;
}

#image9:hover{
	width: 300px;
	opacity: 100%;
}

h2{
	font-family: Trattatello;
	font-size: 100px;
	text-align: center;
	letter-spacing: 4px;
	margin-top: -30px;
	margin-bottom: -200px;
	color: beige;
}


#image10{
	width: 300px;
	position: absolute;
	top: 1800px;
	left: 70px;
	margin-bottom: 50px;
	transform: rotate(-5deg);
}

#image10:hover{
	width: 400px;
}






/*this is for phones*/
@media (max-width: 600px)  {
  body {
    font-size: 12px;
  }

#recipebox{
	opacity: 0%;
}

 p{
    font-size: 14px;
    margin-top: -20px;
  }
  .container {
    width: 95%;
    padding: 10px;
	height: 4000px;
  }

  h1 { 
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    line-height: -20px;
 
  }

  .images {
    width: 200px; 
	height: 1000px;
	display: flex;
	flex-direction: column;
  }

  .recipeprocess {
    width: 200px; 
	height: 1000px;
	display: flex;
	flex-direction: column;
  }

  #image3{
	position: absolute;
	opacity: 100%;
	top: 3500px;
	left: 150px;
  }

  #image4{
	position: absolute;
	top: 3200px;
	width: 200px;
	left: 150px;
	opacity: 100%;
  }

  #dad{
	position: absolute;
	top: 2200px;
	left: 100px;
	opacity: 100%;
  }


  #bourdain{
	left: 300px;
	font-size: 8px;
	top: 1040px;
  }

  #image10{
	top: 1500px;
	width: 250px;
	left: 100px;

  }

  #image6{
	left: 300px;
	width: 150px;
	top: 800px;
  }

  #image9{
	width: 200px;
	position: absolute;
	top: 1850px;
	opacity: 100%;
  }

  #image7{
	width: 200px;
	position: absolute;
	left: 100px;
	top: 2700px;
	opacity: 100%;
  }

  #image8{
	width: 200px;
	position: absolute;
	left: 300px;
	top: 2900px;
	opacity: 100%;
  }

  .caption{
	font-size: 8px;
	position: absolute;
	left: 100px;
	top: 3000px;

  }



}








