
body{
	background-color:#FFF5D8;

}


h1{
	color:  #03031c;
	font-family: Trattatello, fantasy;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	line-height: -300px;
	text-align: center;
	margin-bottom: 10px
}


.container{
	background-color:#FFF5D8;
	display: flex;
	flex-direction: column;
	height: 2600px;
	width:600px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}




h2{
	color: #03031c;
	font-family: Trattatello, fantasy;
	font-size: 40px;
}


	.images{
		background-color: #03031c;
	width: 580px; 
	height: 2600px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	gap: 40px;
}


	p{
		font-family: sans-serif;
		font-size: 22px;
		color:#03031c;
	}


#image1{
		width:300px;
		text-align: center;
		margin-top: 20px;
	}

#image2{
	width:300px;
	text-align: center;
			margin-top: 20px;


}

#image3{
	width:300px;
	text-align: center;
			margin-top: 20px;

	
  }


#image4{
	width: 300px;
	text-align: center;
			margin-top: 20px;

}


#image5{
	width: 300px;
	text-align: center;
			margin-top: 20px;

}

a{
	font-family: trattatello;
}

#image6{
	position: absolute;
	width: 300px;
	opacity: 70%;
	top: 2500px;
	left: 900px;
			margin-top: 20px;

}

#image6:hover{
	opacity: 100%;
	width: 400px;
}

#image7{
	position: absolute;
	width: 300px;
	top: 2700px;
	left: 120px;
}


#image8{
	position: absolute;
	width: 400px;
	top: 2900px;
	left: 400px;
}


#image9{
	position: absolute;
	width: 260px;
	top: 300px;
	left: 140px;
}

#image9:hover{
	opacity: 100%;
}



#image10{
	position: sticky;
	width: 300px;
	top: 50px;
	left: 930px;
}

#recipe{
	width: 800px;
	height: 2900px;
}

#text{
	width: 500px;
	height: 2600px;
}

#image11{
	width: 400px;
	position: absolute;
	top: 2900px;
	left: 1100px;
}





 



	












