body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #03031c;
}

h1{
	font-family: Trattatello;
	font-size: 130px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 140px;
	margin-bottom: 50px;
	color: beige;
  }


  h1:hover{
  	font-style: bold;
  	font-style: italic;
  }


  h2{
	font-family: Trattatello;
	font-size: 80px;
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 50px;
    margin-top: 50px;
	color: beige;
  }

  p{
  	font-family: sans-serif;
  	font-size: 70px;
  	color: beige;
	text-align: center;
  }

p:hover{
	font-style: italic;
}

a{
    color: white;
}