
body{
	background color:beige;
}

.container{
	background-color: #03031c;
			width: 790px;
			margin: 0 auto;
			padding: 20px;
		text-align: center;

}

#image1{
	width:300px;
				margin-top: 20px;

}

#image2{
	width:250px;
				margin-top: 20px;

}

#image3{
	width:200px;
			margin-top: 20px;

}

#image4{
	width:200px;
				margin-top: 20px;

}

h1{
	font-family: Trattatello;
	color:beige;
	font-size: 45px;
}

h2{
	font-family: Trattatello;
	color:beige;
	font-size: 60px;
}

h3{
	font-family: Trattatello;
	color:beige;
	font-size: 40px;
}


p{
font-family: sans-serif;	
color:lightyellow;
	font-size: 25px;
}

p:hover{
	font-style: italic;
}

a{
	color:lightgray;
font-family: sans-serif;	
	font-size: 20px;
}

#image5{
	width:400px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#image5:hover{
	width: 650px;
}

h4{
	font-family: Trattatello;
	font-size: 60px;
	color: beige;
}

#image6{
	width:300px;
}

#image7{
	width:300px;
}

#image7:hover{
	width:200px;
}

#caption{
	font-size: 20px;
	color: lightgray;
}

h5{
	font-family: Trattatello;
	font-size: 40px;
	color: beige;
}

h5:hover{
	font-style: italic;
}

h6{
	font-family: Trattatello;
	font-size: 50px;
	color: beige;
}

#julia{
	width: 300px;
	transform: rotate(-3deg);
	position: sticky;
	top: 50px;
	left: 80px;
}
