  body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #03031c;
}


h1{
	font-family: Trattatello;
	font-size: 130px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 140px;
	margin-bottom: 50px;
	color: lightblue;
  }

  h1:hover{
  	font-style: bold;
  	font-style: italic;
  }


.container{
	background-color:#03031c;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;

}


#paragraphs{
	background-color: #03031c;
	width: 400px; height: 2000px;
	padding: 35px;


}


#images{
	background-color: #03031c;
	width: 700px; 
	height: 2000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;


}


.box{
	width:100ch;
	padding:2px;
}

.title{
	width:100ch;
	padding:20px;
}

p{
	color: beige;
	font-family: sans-serif;
	font-size: 22px;

}

p:hover{
	font-style: italic;
}


#sisters{
	width: 300px;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
}


#famphoto{
	width: 350px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	top: 900 px;
	left: 60px;
}


#image1{
	width: 500px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

#image2{
	width: 300px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

#image3{
	width: 300px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

#image4{
	width: 400px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

a{
	color: #4684db;
	font-family: serif;
	font-size: 30px;
}

#image5{
	width: 400px;
	text-align: center;
	margin: auto;	
}


h3{
	font-family: Trattatello;
	font-size: 80px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 100px;
	margin-bottom: 50px;
	color: beige;
}

h3:hover{
	font-size: 150px;


}

#image6{
	width: 400px;
	text-align: center;
	margin: auto;
}




#nonno{
	position: fixed;
	left: 1200px; top: 300px;
	width: 300px;
	opacity: 85%;
}
